/* checkers */

/* resources */
/* https://stackoverflow.com/questions/31342972/relative-css-size-to-parent-of-parent */
/* https://levelup.gitconnected.com/creating-a-board-game-checkers-with-javascript-ecd562f985c2 */

/* Turn */
#checkers_turn {
    text-align: center;
    font-weight: bold;
    font-size: 16pt;
}

/* Game Options */
#checkers_options {
    text-align: center;
}

/* board */
table {
    /* width: 100%; */
    /* width: 50%; */
    width: 40%;
    margin-left: 30%;
    background-color: brown;
    color: beige;
    position: relative;
}


td {
    text-align: center;
    /*for table width 100%: */
    /* height: 11vw; */
    /* table width 50%: */
    /* height: 5.5vw; */
    /* table width 50% with index labels */
    /* height: 5.5vw; */
    /* position: relative; */
    /* table width 40% */
    height: 4.5vw;
}

thead td {
    height: 1%;
}

.index {
    width: 3%;
}

.no_piece, .unused_space {
    background-color: beige;
}

/* playing pieces */

.piece {
    border: 3px solid brown;
    position: absolute;
    height: 9%;
    width: 9%;
    border-radius: 50%;
    margin: 0.5%;
}


.one {
    background-color: white;
    color: brown;
}

.one.king {
    border: 3px dashed blue;
}

.two {
    background-color: black;
}

.two.king {
    border: 3px dashed orange;
}